In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
file = 'WHO.csv'
who_df = pd.read_csv(file)

who_df.tail()

,Region Name,Country Name,Year,Sex,0 Year,1-4 Years,5-9 Years,10-14 Years,15-19 Years,20-24 Years,...,60-64 Years,65-69 Years,70-74 Years,75-79 Years,80-84 Years,85+ Years,Unknown Age,No of Suicides,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
9533,Oceania,New Zealand,2014,Male,0.0,0.0,0.0,2.0,27.0,41.0,...,26.0,13.0,14.0,4.0,8.0,10.0,0.0,379.0,10.703106,16.744376
9534,Oceania,New Zealand,2015,Female,0.0,0.0,0.0,4.0,25.0,16.0,...,12.0,7.0,3.0,4.0,1.0,1.0,0.0,144.0,8.828921,5.458483
9535,Oceania,New Zealand,2015,Male,0.0,0.0,0.0,5.0,32.0,38.0,...,24.0,14.0,7.0,13.0,9.0,6.0,0.0,386.0,11.143815,16.703400
9536,Oceania,New Zealand,2016,Female,0.0,0.0,0.0,3.0,10.0,16.0,...,4.0,5.0,3.0,2.0,2.0,2.0,0.0,145.0,8.362872,5.342887
9537,Oceania,New Zealand,2016,Male,0.0,0.0,0.0,5.0,34.0,52.0,...,23.0,18.0,5.0,10.0,8.0,10.0,0.0,416.0,11.974208,17.383315